img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid black;
  position: relative;
  margin: -104px 0 0 0;
}

.prettybox {
  background-color: rgb(170, 96, 83);
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  width: 800px;
  max-width: 75%;
  margin: 200px auto 72px;
}

.prettybox h1 {
  color: rgb(26, 24, 24);
  font-size: 26px;
}

.prettybox span {
  color: rgb(128, 31, 31);
}

#todays-challenge {
  color: rgb(46, 43, 43);
  font-weight: bold;
  font-size: 40px;
  padding: 0 20px 0 20px;
}